
<div class="container" >
  <div class="grid mt-4">
    <Form [formGroup]="login" class="col grid">
      <div class="col-2"></div>
      <div class="col-8 border-1 mt-5 form-border">
        <h1 class="page-header-title">Plantify Login</h1>
        <img src="assets/images/logo_sample.jpg" alt="Plant Logo" class="logo_sample">
        <div class="grid">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="grid">
              <div class="col-1"></div>
              <div class=" mt-4 col-10 grid">
                <label class="col-2 ml-6">Username:</label>
                <input  formControlName="username" type="text" pInputText class="login-register-input-field">
              </div>
            </div>
            <div class="grid">
              <div class="col-1"></div>
              <div class="mt-4 col-10 grid">
                <label class="col-2 ml-6">Password:</label>
                <input formControlName="password" pInputText class="login-register-input-field">
              </div>
            </div>
          </div>
        </div>
        <div class="grid mt-4 mb-8">
          <div class="col-9"></div>
          <div class="text-center ml-3">
            <p-button label="Login"></p-button>
          </div>
        </div>
        <div class="grid mb-1">
          <div class="col-5"></div>
          <div class="col">Already Have An Account?<a routerLink="/register"  class="mb-1 ml-1">Sign Up</a></div>
        </div>
      </div>
    </Form>
  </div>
</div>
