<div class="flex flex-column justify-content-center align-content-center container">
  <div class="flex justify-content-center">
    <span class="p-float-label">
      <input type="text" pInputText>
      <label>Username</label>
    </span>
  </div>
  <div class="mt-4 mb-4 flex justify-content-center">
    <span class="p-float-label">
      <p-password></p-password>
      <label>Password</label>
    </span>
  </div>
  <div class="text-center">
    <p-button label="Login"></p-button>
  </div>
</div>
