<div class="container">
  <app-navigationbar></app-navigationbar>
  <div class="grid mt-4">
      <div class="col-2"></div>
      <div class="col-8 border-1 mt-5 form-border">
        <h1 class="page-header-title">Home</h1>
        <div class="grid">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="grid">
              <div class="col-1"></div>
              <div class=" mt-4 col-5 grid">
                Hello dear User<br><br>

                And welcome to plantify<br>
                Here you can search for the perfect Plant for your garden, household or balcony.<br><br>

                All you need to do is make a few specification concerning your geological location, climate and the idea for use.<br><br>

                Your Data is private, of course and will be removed upon deleting your account<br><br>

                So be it as a hobby, as a pastime or as a job, you are sure to find something that suits your taste<br><br>

                With best regards...<br><br>

                The team behind plantify
              </div>
              <div class=" mt-4 grid">
                <img src="assets/images/pot-plant.png" alt="Plant Logo" class="img_sample">
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

