<nav class="grid">
  <div class="col-2"></div>
  <div class="col-8 grid ml-1 mt-5">

    <button class="col-2 nav_button" routerLink="/home">
        <img src="assets/images/logo_sample.jpg" alt="Plant Logo" class="nav_logo">
    </button>
    <div class="col-2"></div>
    <button class="col-2 nav_button" routerLink="/home">Home</button>
    <button class="col-2 nav_button" routerLink="/analyze">Analyze</button>
    <button class="col-2 nav_button" routerLink="/shop">Shop</button>
    <button class="col-2 nav_button" routerLink="/profile">Profile</button>
  </div>

</nav>
