
<div class="container">
  <div class="flex-column">
    <div class="p-col-2" style="background-color: red"></div>
    <div class="p-col-8 border-1 align-content-center justify-content-center">
      <span class="p-float-label">
        <input type="text" pInputText>
        <label>Username</label>
      </span>
      <div class="col-2" style="background-color: aquamarine"></div>
      <div class="">
        <span class="p-float-label">
          <p-password></p-password>
          <label>Password</label>
        </span>
      </div>
      <div class="text-center">
        <p-button label="Register"></p-button>
      </div>
  </div>
</div>

