/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/lara-light-indigo/theme.css';
html, body{
  margin: 0;
  background-color: #a6f1a6;
}

.page-header-title{
  font-size: xxx-large;
  margin-left: 25%;
  margin-rigt: 25%;
  width: 50%;
  text-align: center;
}

.form-border{
  border-width: 3px;
  background-color: white;
}

.logo_sample{
  width: 161px;
  height: 184px;
  margin: 0% 41% 0% 43%;
}

.img_sample{
  width: 300px;
  margin: 0% 0% 10% 50%;
}

.nav_logo{
  width: 81px;
  height: 92px;
}
.nav_button{
  background: white;
  font-size: xx-large;
}

.login-register-input-field{
  width: 76%;

}
