<div class="flex flex-column justify-content-center align-content-center container">
  <div class="mt-4 flex justify-content-center">
      <h1><strong>Plantify Profile</strong></h1>
  </div>
  <div class="mt-4 flex justify-content-center">
    <span class="p-float-label">
      <input type="text" pInputText>
      <label>Address</label>
    </span>
  </div>
  <div class="mt-4 flex justify-content-center">
    <span class="p-float-label">
      <input type="text" pInputText>
      <label>Place</label>
    </span>
  </div>
  <div class="mt-4 flex justify-content-center">
    <span class="p-float-label">
      <input type="text" pInputText>
      <label>ZipCode</label>
    </span>
  </div>
  <div class="mt-4 mb-4 flex justify-content-center">
    <span class="p-float-label">
      <input type="text" pInputText>
      <label>Country</label>
    </span>
  </div>
  <div class="text-center">
    <p-button label="Save"></p-button>
  </div>
</div>
