<div class="container" >
<app-navigationbar></app-navigationbar>
  <div class="grid mt-4">
    <div class="col-2"></div>
    <div class="col-8 border-1 mt-5 form-border">
      <h1 class="page-header-title">Profile</h1>
      <div class="grid">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="grid">
            <div class="col-1"></div>
            <div class=" mt-4 col-10 grid">
              <label class="col-2 ml-6">Sun Ratio</label>
              <select class="browser-default custom-select login-register-input-field">
                <option selected="">Sun Ratio</option>
                <option value="A lot of sun">A lot of sun</option>
                <option value="More sun">More sun</option>
                <option value="equal">equal</option>
                <option value="More shadow">More shadow</option>
                <option value="Completely in the shadow">Completely in the shadow</option>
              </select>
            </div>
          </div>
          <div class="grid">
            <div class="col-1"></div>
            <div class=" mt-4 col-10 grid">
              <label class="col-2 ml-6">Height</label>
              <input type="text" pInputText class="login-register-input-field">
            </div>
          </div>
          <div class="grid">
            <div class="col-1"></div>
            <div class=" mt-4 col-10 grid">
              <label class="col-2 ml-6">Season</label>
              <select class="browser-default custom-select login-register-input-field">
                <option selected="">Season</option>
                <option value="Spring">Spring</option>
                <option value="Summer">Summer</option>
                <option value="Autumn">Autumn</option>
                <option value="Winter">Winter</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="grid mt-4 mb-1">
        <div class="col-9"></div>
        <div class="text-center ml-3">
          <p-button label="Save"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
