<div class="container" >
<app-navigationbar></app-navigationbar>
  <div class="grid mt-4">
    <div class="col-2"></div>
    <div class="col-8 border-1 mt-5 form-border">
      <h1 class="page-header-title">Plantify Profile</h1>
      <div class="grid">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="grid">
            <div class="col-1"></div>
            <div class=" mt-4 col-10 grid">
              <label class="col-2 ml-6">Address</label>
              <input type="text" pInputText class="login-register-input-field">
            </div>
          </div>
          <div class="grid">
            <div class="col-1"></div>
            <div class=" mt-4 col-10 grid">
              <label class="col-2 ml-6">Place</label>
              <input type="text" pInputText class="login-register-input-field">
            </div>
          </div>
          <div class="grid">
            <div class="col-1"></div>
            <div class=" mt-4 col-10 grid">
              <label class="col-2 ml-6">ZipCode</label>
              <input type="text" pInputText class="login-register-input-field">
            </div>
          </div>
          <div class="grid">
            <div class="col-1"></div>
            <div class=" mt-4 col-10 grid">
              <label class="col-2 ml-6">Country</label>
              <input type="text" pInputText class="login-register-input-field">
            </div>
          </div>
      </div>
      </div>
      <div class="grid mt-4 mb-1">
        <div class="col-9"></div>
        <div class="text-center ml-3">
          <p-button label="Save"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
